<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation="http://www.springframework.org/schema/beans 
       http://www.springframework.org/schema/beans/spring-beans.xsd">
       
	<bean id="nBattery" class="com.ezen.battery.NormalBattery"></bean>
	<bean id="cBattery" class="com.ezen.battery.ChargeBattery"></bean>
       
       
	<bean id="car" class="com.ezen.toy.ElectronicCar"></bean>
       
	<bean id="class" class="com.ezen.toy.ElectronicRadio">
    	<constructor-arg ref="cBattery"></constructor-arg>   
    	<!-- 의존 주입 - 객체 조립 -->
    </bean>
    <!-- 클래스의 생성자가 다른 클래스의 매개변수를 갖고, 해당 객체가 전달되어야 생성자 실행이 가능하면,
    이는 클래스가 다른 클래스에 의존하고 있다, 라고 이야기한다. 그리고 의존에 해당하는 객체를 위와 같이 CONSTRUCTOR-ARG
    를 이용해서 채워주는 것을 의존 주입이라고 한다. 통틀어 객체 조립이라고도 표현한다. -->
 </beans>