<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <title>{{title}}</title>
    <link rel="stylesheet" href="/main.css">
</head>
<body>
    <div class="container">
        <div class="profile-wrap">
            <div class="profile">
                {% if user %}   <!-- 로그인 유저가 null이 아니라면(로그인한 사람이 있다면)
                한 사람의 접오가 세션에 저장이 되고 그 세션값이 현재 파일에 render에 의해서 전송되어져 있다는 의미이다(객체 형식으로). -->
                    <div class="user-name">{{'안녕하세요 ' + user.nick  + '님'}}</div>
                    <div class="half">
                        <div>팔로워</div>
                        <div class="count follower-count">{{followerCount}}</div> 
                    </div>
                    <div class="half">
                        <div>팔로잉</div>
                        <div class="count following-count">{{followingCount}}</div> 
                    </div>
                    <input type="hidden" id="my-id" value="{{user.id}}">
                    <a id="my-profile" href="/profile" class="btn">내 프로필</a>
                    <a id="logout" href="/auth/logout" class="btn">로그아웃</a>
                {% else %}
                    <form id="login-form" action="/auth/login" method="post">
                        <div class="input-group">
                            <label id="email">이메일</label>
                            <input type="text" id="email" name="email" >
                        </div>
                        <div class="input-group">
                            <label for="password">비밀번호</label>
                            <input id="password" type="password" name="password" >
                        </div>
                        <a id="join" href="/join" class="btn">회원가입</a>
                        <button id="login" type="submit" class="btn">로그인</button>
                        <a id="kakao" href="/auth/kakao" class="btn">카카오톡</a>
                    </form>
                {% endif %}
            </div>
        </div>
        {% block content %}
        {% endblock %}
    </div>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    {% block script %}
    {% endblock %}
</body>
</html>