{% extends 'layout.html' %} <!-- layout.html 의 내용에 확장해서 이곳에 내용을 더 쓸것이다. 다른말로 하면, layout.html 파일을 이 위치에 갖다 놓고 block content 에 들어갈 부분을 아래에 쓸 것이다. -->
{% block content %}

<div class="timeline">
    {% if user %}
        <div>
            <form id="psot-form" action="/post" method="post" enctype="multipart/form-data">
                <div class="input-group">
                    <textarea id="twit" name="content" maxlength="140"></textarea>
                </div>
                <div class="img-preview">
                    <img id="img-preview" src="" style="display:none;" width="250" alt="미리보기">
                    <input id="img-url" type="hidden" name="url">
                </div>
                <div>
                    <label id="img-label" for="img">사진 업로드</label>
                    <input id="img" type="file" accept="image/*">   <!-- css에 의해 none으로 숨어있지만, 이 태그의 기능이 위의 label 태그와 합쳐져있다. -->
                    <button id="post-btn" type="submit" class="btn">포스팅</button>
                </div>
            </form>
        </div>
    {% endif %}
    <div class="twits">
        <!-- 태그 검색창 -->
        <form id="hashtag-form" action="/hashtag">
            <input type="text" name="hashtag" placeholder="태그 검색">
            <button class="btn">검색</button>
        </form>
        <br/>

        {% for post in posts %}
            <div class="twit">
                <!-- 아이디 --><!-- 닉네임 -->
                <input type="hidden" value="{{post.id}}" class="twit-id">
                <input type="hidden" value="{{post.UserId}}" class="twit-user-id">
                <div class="twit-author" style="font-weight:bold; font-family: Verdana;">
                    {{post.id}} &nbsp; -&nbsp; {{post.User.nick}} 
                </div>
                <!-- 이미지 -->
                {% if post.img %}
                    <!-- 현재 게시물의 이미지가 있다면 이미지태그 표시 -->
                    <div class="twit-img"><img src="{{post.img}}"></div><br>
                {% endif %}
                <!-- content -->
                <div class="twit-content" style="font-weight:bold; font-family:Verdana;">
                    <pre>{{post.content}}</pre></div>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}


{% block script %}

<script type="text/javascript">
    document.getElementById('img').addEventListener('change', (e)=>{    // id가 img인 태그의 내용이 변경되면 익명함수가 실행된다.
        const formData = new FormData();
        formData.append('img', e.target.files[0]);
        axios.post('/post/img', formDate)
        .then((res)=>{
            document.getElementById('img-url').value = res.data.url;    // 히든태그에 url 대입
            document.getElementById('img-preview').src = res.data.url;    // 미리보기 태그에 url 대입
            document.getElementById('img-preview').style.display = 'inline';    // 미리보기 태그를 none에서 inline으로 바꾸어 보이기
        })
        .catch((err)=>{
            console.error(err);
        });
    });
</script>

{% endblock %}