<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>memberUpdateForm.html</title>
    <link rel="stylesheet" type="text/css" href="/board.css">
</head>
<body>
    <div id="wrap">
        <form id="memberUpdate">
            <fieldset><legend>회원정보 수정</legend>
            <div>사용자아이디 : {{member.userid}}
                <input id="userid" type="hidden" value="{{member.userid}}"></div>
            <div>비밀번호 : <input id="pwd" type="password" placeholder="password"></div>
            <div>이름 : <input id="name" type="text" value="{{member.name}}"></div>
            <div>전화번호 : <input id="phone" type="text" value="{{member.phone}}"></div>
            <div>이메일 : <input id="email" type="text" value="{{member.email}}"></div>
            <input type="submit" value="수정완료" />
            <input type="button" value="취소" onClick="location.href='/'" />
            </fieldset>
        </form>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script src="/updatemember.js"></script>
    </body>
    </div>
</body>
</html>