<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation="http://www.springframework.org/schema/beans 
       http://www.springframework.org/schema/beans/spring-beans.xsd">
       
       <bean class="ezen.student.dto.DataBaseConnectionInfo"  id="dbconinfo1" >
 			<property name="url" value="jdbc:oracle:thin:@localhost:1521:xe" />
	 		<property name="driver" value="oracle.jdbc.driver.OracleDriver" />
	 		<property name="id" value="scott" />
	 		<property name="pw" value="tiger" />
 		</bean>
       <!-- 스프링 컨테이너의 Bean 태그에 property 태그를 이용하여 각 멤버변수의 초기값을 넣어줄 수 있다 -->
       <!-- 위와 같이 property 태그로 멤버변수에 값을 초기화하려면 각 변수의 getter/setter 가 필수로 존재해야한다. -->
       
       <!-- 스프링 컨테이너에 저장되는 Bean은 한개의 객체이므로, 다른 내용의 객체가 필요하다면 초기값을 달리해서 또 하나의 Bean을 생성한다. -->
       <bean class="ezen.student.dto.DataBaseConnectionInfo"  id="dbconinfo2" >
			<property name="url"	value="jdbc:oracle:thin:@localhost:1521:xe" />
	 		<property name="driver" value="oracle.jdbc.driver.OracleDriver" />
	 		<property name="id" value="system" />
	 		<property name="pw" value="adminuser" />
		</bean>
       
       
       
       <!-- 아래의 bean이 있어야 의존주입이 가능해진다! -->
       <bean class="ezen.student.dao.StudentDao" id="studentdao">
       		<constructor-arg ref="dbconinfo1"></constructor-arg>	<!-- 의존주입 -->
       </bean>
       
       <bean class="ezen.student.service.InsertService" id="insertService">
       		<constructor-arg ref="studentdao"></constructor-arg>	<!-- 의존주입 -->
       </bean>
       
       <bean class="ezen.student.service.SelectAllService" id="selectAllService">
       		<constructor-arg ref="studentdao"></constructor-arg>	<!-- 의존주입 -->
       </bean>
       
       <bean class="ezen.student.service.SelectOneService" id="selectOneService">
       		<constructor-arg ref="studentdao"></constructor-arg>	<!-- 의존주입 -->
       </bean>
       
       <bean class="ezen.student.service.UpdateService" id="updateService">
       		<constructor-arg ref="studentdao"></constructor-arg>	<!-- 의존주입 -->
       </bean>
       
       
       
       <bean class="ezen.student.dto.EMSInformationService" id="informationService">
       		<property name="info">
       			<value>Education Management System program was developed in 2015.</value>
       		</property>
       		<property name="copyRight">
       			<value>COPYRIGHT(C) 2015 EMS CO., LTD. ALL RIGHT RESERVED. CONTACT MASTER FOR MOR INFORMATION.</value>
       		</property>
       		<property name="ver"><value>The version is 1.0</value></property>
       		<property name="sYear"><value>2021</value></property>
       		<property name="sMonth"><value>10</value></property>
       		<property name="sDay"><value>19</value></property>
       		<property name="eYear" value="2021"></property>	<!-- 단일태그 방식 -->
       		<property name="eMonth" value="11"></property>
       		<property name="eDay" value="19"></property>
       		
       		
       		<!-- dto 클래스의 EMSInformationService에서 List와 Map 형태의 변수에 들어갈 초기값을 넣는다. -->
       		<property name="developers">
       			<list>
       				<value>Cheney.</value><value>Eloy.</value>
       				<value>Jasper.</value><value>Dillon.</value>
       				<value>Kian.</value>
       			</list>
       		</property>
       		
       		<property name="administrators">
       			<map>
       				<entry>
       					<key><value>Cheney</value></key>
       					<value>cheney@springPjt.org</value>
       				</entry>
       				<entry>
       					<key><value>Jasper</value></key>
       					<value>jasper@springPjt.org</value>
       				</entry>
       			</map>
       		</property>
       		
       		<property name="dbInfos">	<!-- dbInfos 변수는 맨 위에 미리 만들어둔 내용 두개가 있으므로 그것을 ref 태그로 가져다 쓴다. -->
       			<map>
       				<entry>
       					<key><value>dev</value></key>
       					<ref bean="dbconinfo1"/>
       				</entry>
       				<entry>
       					<key><value>real</value></key>
       					<ref bean="dbconinfo2"/>
       				</entry>
       			</map>
      		</property>
       </bean>   
</beans>