<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome to {{title}} nunjucks!</h1>

    <br><hr>
    <!-- 내부변수 -->
    {% set node = 'Node - Js' %}
    {% set js = 'JavaScript' %}
    <h2>{{node}}와 {{js}}</h2>

    <br><hr>
    <!-- 꺽쇠괄호 태그의 적용 유무(safe) -->
    <h3>{{'<strong>이스케이프</strong>'}}</h3>
    <h3>{{'<strong>이스케이프 하지 않음</strong>' | safe}}</h3>
    
    <br><hr>
    <!-- 반복문 - 중괄호-퍼센트 안에 for in 작성. index는 loop.index -->
    {% set fruits=['사과', '배', '오렌지', '바나나', '복숭아'] %}   <!-- nunjucks 배열 생성! -->
    <ul>
        {% for item in fruits %}    <!-- 반복문 -->
            <li>{{item}}</li>
        {% endfor %}    <!-- 반복문 종료 -->
    </ul>

    
    <ul>
        {% for item in fruits %}    <!-- 반복문 -->
            <li>{{loop.index}} 번째 {{item}}</li>
        {% endfor %}    <!-- 반복문 종료 -->
    </ul>


    <br><hr>
    <!-- 조건문 -->
    {% set isLogged = true %}
    {% if isLogged %}
    <h3>로그인 되었습니다</h3>
    {% else %}
    <h3>로그인이 필요합니다</h3>
    {% endif %}     <!-- 조건문 끝내기 -->


    {% set fruit = '' %}
    {% if fruit === 'apple' %}
    <h3>사과입니다.</h3>
    {% else fruit === 'banana' %}
    <h3>바나나입니다.</h3>
    {% else fruit === 'orange' %}
    <h3>오렌지입니다.</h3>
    {% else %}
    <h3>아무것도 아닙니다.</h3>
    {% endif %}
</body>
</html>